        <div id="loading-mask"></div>
        <div id="loading"> 
                <div class="loading-indicator">
                        <%= image_tag "/app_assets/images/loading.gif" %>
                        <br />
                        <span id="loading-msg"></span>
                </div> 
        </div>

        <div class="x-hide-display">
          <div id='apropos-et-aide' >
            <h1>About MeteoLog v<%= MySettings.version %></h1>
            <p>This application is a visialization tool for public weather observations made available by Meteo France.</p>
            <p>You can visualize on a map the variation and evolution of several meteorological indicators :
            <ul>
              <li>Temperature</li>
              <li>Atmospheric Pressure</li>
              <li>Wind Speed</li>
              <li>Wind Direction (Soon)</li>
              <li>Weather description (Soon)</li>
            </ul>
            </p>
            <p>Click on <i>Switch Layer Type</i> to choose a different indicator.</p>
            <p>You can also play an animation of the data you selected by clicking <i>Play</i>.</p>

            <p>The data used by this tool is available on 
            <a href="http://france.meteofrance.com/france/observations">Meteo France website</a>.

            <p>You can send suggestions to <a href="http://twitter.com/le_lag">@le_lag on twitter</a>.</p>
          </div>
        </div>



        <div class="x-hide-display">
          <div id='ie-oups' >
            <h1>Your browser is not HTML5 ready and will not let you experience the awesomeness of this application.</h1>
            <p>Please download a more recent one : </p>
              <p>
                 <a href="http://www.apple.com/safari/"><img src="/app_assets/images/safari.png"/></a>
                 <a href="http://www.google.com/chrome"><img src="/app_assets/images/chrome.png" /></a>
                 <a href="http://www.mozilla.com/firefox"><img src="/app_assets/images/firefox.png" /></a>
                 <a href="http://www.opera.com/download/"><img src="/app_assets/images/opera.png" /></a>
             </p>
          </div>
        </div>

        <div id='main' > </div> 
        <div id='beta' > 
       <div class="splash-beta"><img src="/app_assets/images/splash_beta.png" style="opacity:0.7"></div> 
        </div> 

<script type="text/javascript" src="/app_assets/javascript/ui/strftime.js"></script>
<script type="text/javascript" src="/app_assets/javascript/ui/StationReadingStore.js"></script>
<script type="text/javascript" src="/app_assets/javascript/ui/StationStore.js"></script>
<script type="text/javascript" src="/app_assets/javascript/ui/GradientLegend.js"></script>
<script type="text/javascript" src="/app_assets/javascript/ui/MLSettingWindow.js"></script>
<script type="text/javascript" src="/app_assets/javascript/ui/MeteoLogViewport.ui.js"></script>
<script type="text/javascript" src="/app_assets/javascript/ui/MeteoLogViewport.js"></script>
<script type="text/javascript" src="/app_assets/javascript/ui/MLMapPanel.ui.js"></script>
<script type="text/javascript" src="/app_assets/javascript/ui/MLMapPanel.js"></script>
<script type="text/javascript" src="/app_assets/javascript/ui/MLControlPanel.ui.js"></script>
<script type="text/javascript" src="/app_assets/javascript/ui/MLControlPanel.js"></script>
<script type="text/javascript" src="/app_assets/javascript/ui/MLDetailsReader.ui.js"></script>
<script type="text/javascript" src="/app_assets/javascript/ui/MLDetailsReader.js"></script>
<script type="text/javascript" src="/app_assets/javascript/bootstrap.js"></script>




